{{page-title "Rkp"}}

<nav class="navbar bg-primary">
	<div class="container-fluid">
		{{!-- <a class="navbar-brand text-white" href="#">Navbar</a> --}}
	</div>
</nav>
{{outlet}}
<p class="text-secondary fs-6 text-center mb-4">© Все права защищены</p>